@model starSystemV2.Models.NasaApod
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>@Model.Title</h1>
    <img src="@Model.Url" alt="Nasa Picture of the day">
<p>@Model.Explanation</p>
</div>
