@model starSystemV2.Models.NasaApod
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to the home page</h1>
    <p>To be able to gain assess to the rest of the site you need to login!</p>
    
    <h1>@Model.Title</h1>
    <img src="@Model.Url" alt="Nasa Picture of the day">
<p>@Model.Explanation</p>
</div>
